#### Store the above data in a csv

1. Read the text file (csv) 
2. create the case Class to Represent the entity
3. add all the records in to List
4. Perform filter operations based on salary and departments
5. perform map operations to produce formatted report
6. perform reduce operation to find total Salary, average Salary, number of employees department wise

In [16]:
// 1. Reading the file
import scala.io.Source

val filePath = "data.csv"
val fileSource = Source.fromFile(filePath)

import scala.io.Source
filePath: String = "data.csv"
fileSource: scala.io.BufferedSource = non-empty iterator

In [17]:
// 2.case class to represent entity
case class Employee(name:String, city:String, department:String, salary:Integer){
    override def toString():String = s" $name lives in $city and works in $department department has INR $salary "
    
}

defined class Employee

In [18]:
// 3. adding all records of files to the list
import scala.collection.mutable.ListBuffer
val employees = ListBuffer[Employee]()

try{
    val empFile = fileSource.getLines().drop(1)
    for(employee <- empFile){
    val empDetails = employee.split(",")
    val newEmployee = new Employee(empDetails(1),empDetails(2),empDetails(4),empDetails(3).toInt)
    employees += newEmployee
    }
}
finally{
    fileSource.close()
}

import scala.collection.mutable.ListBuffer
employees: ListBuffer[Employee] = ListBuffer(
  Employee(
    name = "John Doe",
    city = "New York",
    department = "Marketing",
    salary = 60000
  ),
  Employee(
    name = "Jane Smith",
    city = "Los Angeles",
    department = "Finance",
    salary = 55000
  ),
  Employee(
    name = "Michael Johnson",
    city = "Chicago",
    department = "HR",
    salary = 62000
  ),
  Employee(
    name = "Sarah Lee",
    city = "San Francisco",
    department = "Engineering",
    salary = 58000
  ),
  Employee(
    name = "David Brown",
    city = "Houston",
    department = "Operations",
    salary = 63000
  ),
  Employee(
    name = "Emily Taylor",
    city = "Miami",
    department = "Sales",
    salary = 54000
  ),
  Employee(
    name = "James Wilson",
...

In [19]:
// 4. filtering detals of employees based on :
// 4.1)filter employees where salary > 60000
val filteredSalary = employees.filter(_.salary > 60000)

filteredSalary: ListBuffer[Employee] = ListBuffer(
  Employee(
    name = "Michael Johnson",
    city = "Chicago",
    department = "HR",
    salary = 62000
  ),
  Employee(
    name = "David Brown",
    city = "Houston",
    department = "Operations",
    salary = 63000
  ),
  Employee(
    name = "Emma Anderson",
    city = "Seattle",
    department = "Finance",
    salary = 61000
  ),
  Employee(
    name = "Olivia Thomas",
    city = "Atlanta",
    department = "Engineering",
    salary = 64000
  ),
  Employee(
    name = "Mia Gonzalez",
    city = "Detroit",
    department = "Finance",
    salary = 62000
  ),
  Employee(
    name = "Isabella Carter",
    city = "Portland",
    department = "Engineering",
    salary = 63000
  ),
  Employee(
    name = "Ava Ramirez",
...

In [20]:
// 4.2) filter employees where department is Marketing
val dept = "Marketing"
val filterByDepartment = employees.filter(_.department.toLowerCase == dept.toLowerCase)

dept: String = "Marketing"
filterByDepartment: ListBuffer[Employee] = ListBuffer(
  Employee(
    name = "John Doe",
    city = "New York",
    department = "Marketing",
    salary = 60000
  ),
  Employee(
    name = "James Wilson",
    city = "Dallas",
    department = "Marketing",
    salary = 59000
  ),
  Employee(
    name = "Alexander Lopez",
    city = "Philadelphia",
    department = "Marketing",
    salary = 56000
  ),
  Employee(
    name = "Logan Sanders",
    city = "Washington",
    department = "Marketing",
    salary = 57000
  ),
  Employee(
    name = "Sofia Cooper",
    city = "Louisville",
    department = "Marketing",
    salary = 54000
  ),
  Employee(
    name = "Aria Nelson",
    city = "Tucson",
    department = "Marketing",
    salary = 57000
  ),
  Employee(
    name = "Riley Brooks",
...

In [21]:
// 5. Map operations to produce formatted output
def printEmpDetails(employee:Employee):Unit = println(s" ${employee.name} lives in ${employee.city} and works in ${employee.department} department has INR ${employee.salary} ")
employees.map(printEmpDetails)

 John Doe lives in New York and works in Marketing department has INR 60000
 Jane Smith lives in Los Angeles and works in Finance department has INR 55000
 Michael Johnson lives in Chicago and works in HR department has INR 62000
 Sarah Lee lives in San Francisco and works in Engineering department has INR 58000
 David Brown lives in Houston and works in Operations department has INR 63000
 Emily Taylor lives in Miami and works in Sales department has INR 54000
 James Wilson lives in Dallas and works in Marketing department has INR 59000
 Emma Anderson lives in Seattle and works in Finance department has INR 61000
 Matthew Martinez lives in Boston and works in HR department has INR 57000
 Olivia Thomas lives in Atlanta and works in Engineering department has INR 64000
 Liam Garcia lives in Denver and works in Operations department has INR 53000
 Sophia Hernandez lives in Phoenix and works in Sales department has INR 60000
 Alexander Lopez lives in Philadelphia and works in Marketing department has INR 56000
 Mia Gonzalez lives in Detroit and works in Finance department has INR 62000
 Ethan Perez lives in Minneapolis and works in HR department has INR 55000
 Isabella Carter lives in Portland and works in Engineering department has INR 63000
 Mason Torres lives in Baltimore and works in Operations department has INR 52000
 Ava Ramirez lives in San Diego and works in Sales department has INR 64000
 Logan Sanders lives in Washington and works in Marketing department has INR 57000
 Harper King lives in Birmingham and works in Finance department has INR 61000
 Lucas Rivera lives in Memphis and works in HR department has INR 59000
 Evelyn Scott lives in Nashville and works in Engineering department has INR 60000
 Avery Green lives in Milwaukee and works in Operations department has INR 56000
 Lincoln Taylor lives in Indianapolis and works in Sales department has INR 62000
 Sofia Cooper lives in Louisville and works in Marketing department has INR 54000
 Aiden Bennett lives in Jacksonville and works in Finance department has INR 63000
 Madison Flores lives in Charlotte and works in HR department has INR 58000
 Ella Collins lives in San Jose and works in Engineering department has INR 65000
 Chloe Howard lives in San Antonio and works in Operations department has INR 53000
 Carter Hughes lives in Oklahoma City and works in Sales department has INR 61000
 Aria Nelson lives in Tucson and works in Marketing department has INR 57000
 Grayson Baker lives in Cleveland and works in Finance department has INR 60000
 Zoey Morris lives in Mesa and works in HR department has INR 55000
 Nova Ward lives in Kansas City and works in Engineering department has INR 64000
 Hudson James lives in Virginia Beach and works in Operations department has INR 52000
 Leah Watson lives in Atlanta and works in Sales department has INR 62000
 Riley Brooks lives in Colorado Springs and works in Marketing department has INR 54000
 Emery Kelly lives in Raleigh and works in Finance department has INR 59000
 Luke Reed lives in Omaha and works in HR department has INR 61000
 Layla Cooper lives in Miami and works in Engineering department has INR 56000
 Ayden Rivera lives in Tulsa and works in Operations department has INR 63000
 Penelope Coleman lives in Oakland and works in Sales department has INR 58000
 Lincoln Powell lives in Minneapolis and works in Marketing department has INR 65000
 Aubrey Long lives in Arlington and works in Finance department has INR 60000
 Grace Hughes lives in Bakersfield and works in HR department has INR 55000
 Nolan Ward lives in Tampa and works in Engineering department has INR 64000
 Bella Barnes lives in Honolulu and works in Operations department has INR 52000
 Ellie Howard lives in Anaheim and works in Sales department has INR 62000
 Liam Wright lives in Pittsburgh and works in Marketing department has INR 56000
 Emma Evans lives in Cincinnati and works in Finance department has INR 61000

defined function printEmpDetails
res21_1: ListBuffer[Unit] = ListBuffer(
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
...

In [23]:
// 6. reduce operation to find total Salary, average Salary, number of employees department wise
val totalSalary = employees.map(_.salary).reduce(_+_)
val averageSalary = totalSalary / employees.size
val empByDept = employees.groupBy(_.department).map{
    case (department,empList) => (department, empList.size)
}

println("Total salary: "+totalSalary)
println("Average salary: "+averageSalary)
println(empByDept)

Total salary: 2943000
Average salary: 58860
HashMap(Engineering -> 8, Operations -> 8, Sales -> 8, Marketing -> 9, HR -> 8, Finance -> 9)

totalSalary: Integer = 2943000
averageSalary: Int = 58860
empByDept: Map[String, Int] = HashMap(
  "Engineering" -> 8,
  "Operations" -> 8,
  "Sales" -> 8,
  "Marketing" -> 9,
  "HR" -> 8,
  "Finance" -> 9
)